@import url(../../consts/style_consts.css);

#appBar{
    z-index: 50;
    height: 100px;
    background-color: var(--primary);
}

#appBar ul, #backupAppBar ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}


.appBarLink:visited,.appBarLink:link{
    margin-top: 20px;
    padding: 10px;
    color: white;
    text-decoration: none;
}

#actions{
    width: 600px;
    float: right;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}
#logo{
    width: 100px;
    height: 100px;
}
.appBarLink:hover{
    border-radius: 10px;
    background-color: #3c3c3c;
}
#menu{
    display: none;
}
#drawer{
    display: none;
}
#pop{
    display: none;;
}  

@media only screen and (min-width:765px){
#backupAppBar{
    width: 650px;
    top: 0px;
    display: none;
    z-index: 50;
    position: fixed;
    background-color: #00000082;
    backdrop-filter: blur(10px);
    border-radius: 10px 0px 0px 10px;
}
@keyframes backupAppBarSlide {
    0%{
        left: 3000px;
    }
    100%{
        left: calc(100% - 650px);
    }
}
}

@media only screen and (min-width: 320px) and (max-width:765px){
    .appBarLink:visited,.appBarLink:link{
        display: none;
    }
    #menu{
        display: flex;
    }
    #appBar ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        list-style-type: none;
    }

    #backupAppBar{
        display: none;
    }

    #drawer{
        padding-top: 50px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-color: var(--primary);
        width: 50%;
        height: 100%;
        z-index: 60;
        box-shadow: 2px 2px 4px 2px var(--shadow);
        position: fixed;
        right:0%;
        top: 0%;
    }
    .appBarLinkDrawer{
        margin-top: 20px;
        padding: 10px;

    }
    .appBarLinkElement{
        color: white;
        text-decoration: none; 
    }
    #pop{
        display: flex;
        align-self: start;
        margin-left: 10px;
        margin-top: 100px;
        color: white;
       }
       @keyframes backupAppBarSlide {
        0%{
            left: 3000px;
        }
        100%{
            left: calc(100% - 100px);
        }
    }
}




