@import url(../../consts/style_consts.css);

#appBar{
    height: 100px;
    background-color: var(--primary);
}

#appBar ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}

.appBarLink:visited,.appBarLink:link{
    padding: 10px;
    color: white;
    text-decoration: none;
}

#actions{
    width: 500px;
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#logo{
    width: 100px;
    height: 100px;
}

 @media only screen and (min-width: 1024px){
    .appBarLink:hover{
        border-radius: 10px;
        background-color: #3c3c3c;
    }
}

@media only screen and (min-width: 320px) and (max-width:765px){

}

@media only screen and (min-width: 765px) and (max-width:1024px){

}



