#addReferenceContainer{
    width: 90%;
    background-color: var(--primary);
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 40px;
    padding: 50px;
}
#inputsAddReference{
    width: 250px;
    margin-right: 30px;
}
#addedImageInRefs{
    width: 40px;
    border-radius: 5px;
    object-fit: cover;
    height: 40px;
}

#addPhotoRow{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    width: 200px;
    justify-content: space-around;
}

#addedReferences{
    width: 150px;
    height: 80px;
    color: white;
    font-size: 12px;
    overflow-y: scroll;
}

#addedReferencesContainer{
    margin-right: 30px;
}

.addedReference{
    margin: 3px;
    height: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#deleteRef{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

@media only screen and (min-width: 320px) and (max-width:765px){
    #addReferenceContainer{
        width: 90%;
        background-color: var(--primary);
        border-radius: 10px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 40px;
        padding: 50px;
    }
    #addPhotoRow{
        display: flex;
        flex-direction: row;
        width: 150px;
        justify-content: space-around;
    }
    #addedImageInRefs{
        width: 30px;
        border-radius: 5px;
        object-fit: cover;
        height: 30px;
    }
}