#callServiceMain{
    background-color: #3e3e3e8e;
    backdrop-filter: blur(15px);
    margin: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: white;
    border-radius: 40px;
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
}
.callServiceText{
    text-align: center;
    font-size: 20px;
}

#inputsCallService{
    width: 220px;
    height: 600px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (min-width: 320px) and (max-width:1024px){
    #callServiceMain{
        background-color: #3e3e3e8e;
        backdrop-filter: blur(15px);
        margin: 10px;
        color: white;
        border-radius: 40px;
        display: flex;
        padding: 20px;
        flex-direction: column;
        align-items: center;
    }
    .callServiceText{
        text-align: center;
        font-size: 16px;
    }
}

