#allReferences {
  margin-top: 20px;
}

.referenceType {
  margin-top: 20px;
  background-color: var(--primary);
  padding: 10px;
}

.referenceDescription {
  background-color: white;
  width: 950px;
  padding: 20px;
  overflow: hidden;
  word-wrap: break-word;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  margin-bottom: 30px;
}
.referenceCorporations {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 900px;
    padding: 10px;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

.referenceCorpName {
  margin-bottom: 20px;
  backdrop-filter: blur(20px);
  background-color: #ffffffaf;
  padding: 10px;
  overflow: hidden;
  word-wrap: break-word;
  text-align: center;
  width: 70px;
  border-radius: 10px;
  margin-left: 20px;
}

.refTitle {
  text-align: center;
  width: fit-content;
  color: white;
  margin-left: auto;
  margin-right: auto;
}

.categoryLink {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.refImage {
  object-fit: cover;
  border-radius: 20px;
  margin-left: calc(50% - 400px);
  width: 800px;
  height: 500px;
  background-color: red;
}

@media only screen and (min-width: 320px) and (max-width: 1023px) {
  #allReferences {
    margin-top: 20px;
  }

  .referenceType {
    margin-top: 20px;
    background-color: var(--primary);
    padding: 0px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding-top: 10px;
  }

  .referenceDescription {
    background-color: white;
    width: 80%;
    font-size: 15px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    margin-bottom: 30px;
  }
  .referenceCorporations {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 900px;
    padding: 10px;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
  }

  .referenceCorpName {
    text-align: center;
    margin-bottom: 20px;
    font-size: 12px;
    position: relative;
    backdrop-filter: blur(20px);
    background-color: #ffffffaf;
    padding: 5px;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .refTitle {
    text-align: center;
    width: fit-content;
    color: white;
    margin-left: auto;
    margin-right: auto;
  }

  .categoryLink {
    width: 100%;
    height: 50px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }

  .refImage {
    display: none;
  }
}
