#contactUsMain{
    overflow: hidden;
    padding: 20px;
    margin-top: 100px;
    margin-bottom: 150px;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 100px);
    overflow: hidden;
    display: flex;
    color: white;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    background-color: #3e3e3e8e;
    backdrop-filter: blur(15px);
    box-shadow: 2px 2px 5px 2px var(--shadow);
}

#contactUsDescription{
    margin-right: 50px;
}

.contactInfo{
    animation: slideContactInfo 1s ease-in forwards;
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 240px;
    padding: 10px;
    font-size: 22px;
    background-color: var(--primary);
    height: 40px;
    border-radius: 20px;
    box-shadow: 2px 2px 4px 2px var(--shadow);
}

#location{
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    border-radius: 20px;
    background-color: wheat;
}

@media only screen and (min-width: 320px) and (max-width:1024px){
    #contactUsMain{
        padding: 5px;
        margin-top: 30px;
        margin-bottom: 150px;
        padding-top: 10px;
        margin-left: auto;
        margin-right: auto;
        width: calc(100% - 50px);
        overflow: hidden;
        display: flex;
        color: white;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        border-radius: 20px;
        background-color: #3e3e3e8e;
        backdrop-filter: blur(15px);
        box-shadow: 2px 2px 5px 2px var(--shadow);
    }
    #contactUsDescription{
        font-size: 12px;
        text-align: center;
        margin-right: 0px;
    }
    
    .contactInfo{
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        justify-content: space-around;
        width: 190px;
        padding: 10px;
        font-weight: 15px;
        background-color: var(--primary);
        height: 35px;
        border-radius: 20px;
        box-shadow: 2px 2px 4px 2px var(--shadow);
    }
    
    #location{
        width: 100%;
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;
        border-radius: 20px;
        background-color: wheat;
    }
    #contactUsInMain{
        margin-top: 40px;
        margin-bottom: 20px;
    }
}

@keyframes slideContactInfo {
    0%{
        right: 500px;
    }
    100%{
        right: 0px;
    }
}