@import url(../../consts/style_consts.css);

#bottomBar{
    margin-top: 100px;
    width: 100%;
    height: 160px;
    background-color: var(--primary);
    display: flex;
    border-radius: 87% 13% 100% 0% / 22% 100% 0% 78%;
    justify-content: center;
    align-items: center;
}
#bottomLogo{
    border-radius: 5px;
    width: 100px;
}

