@import url(../../../core/consts/style_consts.css);
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Lora&family=Montserrat:wght@100;400;700&family=Open+Sans&family=Righteous&display=swap');
.textInput{
    caret-color: var(--primary);
}
 @media only screen and (min-width: 765px){
.textInputTitle{
    font-family: 'Righteous', sans-serif;
    color: white;
    font-size: 19px;
}
.textInput,.textInput:active{
    min-width: 200px;
    width: inherit;
    height: 40px;
    outline: none;
    border:none;
    font-family: var(--montserrat);
    font-size: 17px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: inset 1px 1px 3px 1px var(--shadow);
}

}

@media only screen and (min-width: 320px) and (max-width:765px){
    .textInputTitle{
        font-family: 'Righteous', sans-serif;
        color: white;
        font-size: 15px;
    }
    .textInput,.textInput:active{
        min-width: 50px;
        width: inherit;
        height: 30px;
        outline: none;
        border:none;
        font-family: var(--montserrat);
        font-size: 13px;
        background-color: #f4f4f4;
        border-radius: 10px;
        box-shadow: inset 1px 1px 3px 1px var(--shadow);
    }
    
}


